* {
    margin: 0;
    padding: 0;
}
body {
    margin-top: 8vmin;
    background-color: sandybrown;
}

#header {
    width: 84vmin;
    height: 20vmin;
    margin: 0 auto;
}

header {
    float: left;
    width: 36vmin;
    font-size: 12vmin;
    text-align: center;
}

#point {
    width: 26vmin;
    height: 20vmin;
    float: left;
    margin: 0 11vmin;
}

#soccre, #best, #cancel, #reset {
    width: 12vmin;
    height: 9vmin;
    float: left;
    margin: 0.5vmin;
    border-radius: 5%;
    text-align: center;
    background-color: brown;
}

#point p {
    font-size: 2vmin;
}

#point span {
    color: white;
    font-size: 4vmin;
}

#cancel, #reset {
    font-size: 4vmin;
}

#container {
    margin: auto;
    width: 84vmin;
    height: 84vmin;
    border-radius: 3%;
    margin-top: 5vmin;
    background-color: darkgray;
}

#select {
    width: 12vmin;
    margin: auto;
    clear: both;
}

#select select {
    margin: 1.5vmin;
    font-size: 3vmin;
}    

.cell {
    float: left;
    margin: 0.5vmin;
    border-radius: 5%;
}
